
{% extends 'base.html' %}

{% block title %} ANALYTICS {% endblock %}

{% block content %}

<!--Main layout-->
<main class="container" id="container__dashboard">
  <div class="row ms-3 me-3" style="margin-bottom:4.5rem">
    <h1> ANALYTICS </h1>
    <div class="card mt-4 mb-4">
      <div class="card-header">
        <i class="fa-duotone fa-chart-mixed me-1">Chart</i>
      </div>

      <div class="card-body">
        <canvas></canvas>
      </div>
    </div>
  </div>
</main>

{% endblock %}