
{% extends 'base.html' %}

{% block title %} ANALYTICS {% endblock %}

{% block content %}

<!--Main layout-->
<div class="container" id="container__dashboard">
  <div class="row ms-3 me-3" style="margin-bottom:4.5rem">
    <h2 class="m-4"> ANALYTICS - BAR / LINE</h2>

    <form id="form" class="row" action="/Analytics" method="POST">
      <div class="col-sm-3">
        <select class="form-select form-select-sm"
                aria-label="Small select"
                name="line_year" required>
          <option selected="">Year</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
        </select>
      </div>

      <div class="col-sm-3">
        <select class="form-select form-select-sm"
                aria-label="Small select"
                name="line_month" required>
          <option selected="">Month</option>
          <option value="Jan">January</option>
          <option value="Feb">February</option>
          <option value="Mar">March</option>
          <option value="Apr">April</option>
          <option value="May">May</option>
          <option value="Jun">June</option>
          <option value="Jul">July</option>
          <option value="Aug">August</option>
          <option value="Sep">September</option>
          <option value="Oct">October</option>
          <option value="Nov">November</option>
          <option value="Dec">December</option>
        </select>
      </div>

      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary btn-sm">SUBMIT</button>
      </div>
    </form>

    <div class="row">
      <div class="col-xxl-6">
        <div class="card mt-4 mb-4">
          <div class="card-header">
            <i class="fa-solid fa-chart-area me-1"></i>
            <span class="fw-bold ms-3">{{ dataset.title }}</span>
          </div>

          <div class="card-body">
            <canvas id="analytics-line-chart"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% block javascript %}
<!-- JavaScript Start -->
<script>
const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']



const ctx = document.getElementById('analytics-line-chart').getContext('2d');
const myChart = new Chart(ctx, {
    data: {
        labels: {{ dataset.labels | tojson }},
        datasets: [{
            type: 'bar',
            label: 'Income',
            data: {{ dataset.data.income | tojson }},
            backgroundColor: 'rgb(2, 117, 216)'
        },
        {
            type: 'bar',
            label: 'Outcome',
            data: {{ dataset.data.outcome | tojson }},
            backgroundColor: 'rgb(240, 173, 78)'
         },
        {
            type: 'line',
            label: 'Balance',
            data: {{ dataset.data.balance | tojson }},
            backgroundColor: 'rgb(91, 192, 222)',
            borderColor: 'rgb(91, 192, 222)'
        }]
    },
    options: {
        barValueSpacing: 15
    }
});
</script>

<!-- JavaScript End-->
{% endblock %}

{% endblock %}