<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
          initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
        src="https://kit.fontawesome.com/df1546e33f.js"
        crossorigin="anonymous">
    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <!--    Sidebar    -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a href="/Home" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa-solid fa-gauge-high me-2"></i>
                        <span class="fw-semibold fs-6 ">Main Dashboard</span>
                    </a>
                    <a href="/Analytics" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa-solid fa-chart-line me-2"></i>
                        <span class="fw-semibold fs-6">Analytics</span>
                    </a>
                    <a href="/Analytics-pie" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa-solid fa-chart-pie me-2"></i>
                        <span class="fw-semibold fs-6">SEO</span>
                    </a>
                    <a href="/Total-table" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa-solid fa-money-bill me-2"></i>
                        <span class="fw-semibold fs-6">Total</span>
                    </a>
                </div>
            </div>
        </nav>
        <!--    Navbar    -->
        <nav id="main-navbar" class="navbar navbar-expand-lg bg-white fixed-top">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img
                       class="mt-1 ms-3"
                       src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
                       height="25"
                       alt=""

                     />
                </a>
            </div>
        </nav>
    </header>

    <div class="container__content">
        {% block content %} {% endblock %}
    </div>

    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous">
    </script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous">
    </script>
</body>
</html>