
{% extends 'base.html' %}

{% block title %} HOME {% endblock %}

{% block content %}

<div class="container" id="container__dashboard">
  <h3>WELCOME TO DASHBOARD</h3>

  <div class="row mb-5" id="card-container">
    <div class="col-xl-3 col-me-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">TOTAL INCOME</div>
        <div class="card-body">CAD {{ dataset.total_income }}</div>
      </div>
    </div>
    <div class="col-xl-3 col-me-6">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">TOTAL OUTCOME</div>
        <div class="card-body">CAD {{ dataset.total_outcome }}</div>
      </div>
    </div>
    <div class="col-xl-3 col-me-6">
      <div class="card bg-info text-white mb-4">
        <div class="card-body">CURRENT BALANCE</div>
        <div class="card-body">CAD {{ dataset.current_balance }}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <div class="card mb-4 w-100 h-100">
        <div class="card-header">
          <i class="fa-solid fa-chart-area me-1"></i>
          <span class="ms-2">{{ dataset.title }} - LINE</span>
        </div>
        <div class="card-body">
          <canvas id="line-each-year"></canvas>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card mb-4 w-100 h-100">
        <div class="card-header">
          <i class="fa-solid fa-chart-pie me-1"></i>
          <span class="ms-2">{{ dataset.title }} - PIE</span>
        </div>

        <div class="card-body d-flex">
          <canvas id="pie-total-rate" style="height:250px"></canvas>
          <div class="position-absolute bottom-0 end-0 pe-4">
            <p>Spending: <span id="outcome-rate"></span> %</p>
            <p>Saving: <span id="balance-rate"></span> %</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-4 mt-3">
        <div class="card-header">
          <i class="fa-solid fa-table-list me-1"></i>
          <span class="ms-2">{{ dataset.title }} - TABLE</span>
        </div>

        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">YEAR</th>
                <th scope="col">MONTH</th>
                <th scope="col">INCOME</th>
                <th scope="col">OUTCOME</th>
              </tr>
            </thead>
            <tbody class="table-group-divider" id="table-body">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% block javascript %}
<!-- JavaScript Start -->
<script>
const table_data = {{ dataset.total_each_month | tojson }}

var idx = 0
table_data.map((data) => {
  idx += 1
  document.getElementById('table-body').innerHTML += `<tr>
                                                        <th scope="row">${ idx }</th>
                                                        <td>${ data.year }</td>
                                                        <td>${ data.month }</td>
                                                        <td>${ data.total_income }</td>
                                                        <td>${ Math.round(data.total_outcome * 100) / 100 }</td>
                                                      </tr>
                                                      `
})

const ctx_line = document.getElementById('line-each-year').getContext('2d');
const myChart_line = new Chart(ctx_line, {
    type: 'bar',
    data: {
        labels: {{ dataset.income_each_year.label | tojson }},
        datasets: [{
            label: 'Income of Each Year',
            data: {{ dataset.income_each_year.data | tojson }},
            backgroundColor: {{ dataset.income_each_year.bg_color | tojson }},
            borderWidth: 1
        },
        {
            label: 'Outcome of Each Year',
            data: {{ dataset.outcome_each_year.data | tojson }},
            backgroundColor: {{ dataset.outcome_each_year.bg_color | tojson }},
            borderWidth: 1
        }]
    },
    options: {
        barValueSpacing: 15
    }
});

var total = Number(({{ dataset.total_income | tojson}}).replace(/[^0-9.-]+/g,""))
var outcome = Number(({{ dataset.total_outcome | tojson}}).replace(/[^0-9.-]+/g,""))
var balance = Number(({{ dataset.current_balance | tojson}}).replace(/[^0-9.-]+/g,""))

var outcome_rate = (outcome / total) * 100
var balance_rate = (balance / total) * 100

const pie_data = {
  labels: ['Spending', 'Saving'],
  datasets: [{
    data: [Math.round(outcome_rate * 100) / 100, Math.round(balance_rate * 100) / 100],
    backgroundColor: [
      'rgb(240, 173, 78)',
      'rgb(91, 192, 222)'
    ]
  }]
}

const ctx_pie = document.getElementById('pie-total-rate').getContext('2d');
const myChart_pie = new Chart(ctx_pie, {
    type: 'pie',
    data: pie_data,
    options: {
      responsive: false,

    }
});

document.getElementById('outcome-rate').innerHTML = Math.round(outcome_rate * 100) / 100
document.getElementById('balance-rate').innerHTML = Math.round(balance_rate * 100) / 100

</script>
<!-- JavaScript End-->
{% endblock %}

{% endblock %}